/*Font */

@font-face {
    font-family: 'salt__foamregular';
    src: url('font/salt-webfont.eot');
    src: url('font/salt-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/salt-webfont.woff') format('woff'),
         url('font/salt-webfont.ttf') format('truetype'),
         url('font/salt-webfont.svg#salt__foamregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Font*/
html, body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
a, a:visited{
	text-decoration: none;
	color: inherit;
}
#navigation{
	width:100%;
	height: 60px;
	background: url(img/bck-menu.png);
}
#menu{
	width:1024px;
	height: 60px;
	background: url(img/bck-menu.png);
	background-color:#006699;
	
	margin-left: auto;
	margin-right: auto;
}
.logo{
	float:left;
	margin: 0px;
	height: 60px;
	border-right:0px solid #006699;
	border-left:0px solid #006699;
	padding-right: 10px;
	padding-left: 10px;
	
}
.menu-item{
	border-right:1px solid #006699;
	line-height: 60px;
	padding-left: 18px;
	padding-right: 18px;
	float: left;
	font-family: 'salt__foamregular';
	color: #FFF;
	font-size: 27px;
}
.menu-item1{
	border-right:1px solid #006699;
	width: auto;
	line-height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	font-family: "arial", regular;
	color: #98D435;
	font-size: 20px;
}
.menu-item:hover{
	background: #006699;
	color: #FFF;
	-webkit-transition: background 500ms ease;
	-moz-transition: background 500ms ease;
	-ms-transition: background 500ms ease;
	-o-transition: background 500ms ease;
	transition: background 500ms ease;
}

#head{
	width:100%;
	height: 506px;
	border-bottom: 1px solid #ccc;
}
.slide{
	width: 1024px;
	position: relative;
	top: -140px;
	margin-left: auto;
	margin-right: auto;
}
#cta{
	width: 450px;
	height: 140px;
	background: #eaf0f3;
	border-radius: 5px;
	position: relative;
	top: 120px;
	left: 610px;
	font-family: 'Alegreya Sans SC', sans-serif;
	-webkit-box-shadow: 2px 2px 8px 1px #000;
	box-shadow: 2px 2px 8px 1px #000;
	z-index: 3;
}
.mail-input{
	width:200px;
	font-size: 18px;
	padding: 5px;
	font-family: 'Alegreya', serif;
}
#header{
	position: relative;
	top: -1000px;
	left: 0px;
	line-height: 70px;
	font-family: 'salt__foamregular';
	text-align: left;
	font-size: 55px;
	color: #006699;
}
#freebie-title{
	font-family: 'salt__foamregular';
	font-size: 35px;
	position:relative;
	width:auto;
	height: 25px;
	display: inline;
	margin-top: 5px;
	margin-left: 45px;
	margin-right: auto;
}
#freebie-title2{
	font-family: 'salt__foamregular';
	font-size: 25px;
	position:relative;
	width:350px;
	height:25px;
	display: inline;
	margin-left: 45px;
	margin-right: auto;
}
#clients{
	width:100%;
	height: 150px;
	border-bottom: 1px solid #ccc;
}
.clients-container{
	width: 1024px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}
.client-item{
	width: 19.8%;
	float: left;
	
}
#features{
	width:100%;
	height: 250px;
	border-bottom: 1px solid #ccc;
}
.in-features{
	width:1024px;
	margin-left: auto;
	margin-right: auto;
}
.p-fe{
	
	margin: 10px;
	
}
.fe{
	width: 341px;
	float: left;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #2D5C8E;
}
h2f{
font-family: 'salt__foamregular';
font-size:30px;
}
.icon-cl{
	width: 130px;
	margin-top: 15px;
}
.icon-fe{
	float:left;
	margin: 5px;
	width: 50px;
}
/*testimonials*/
.row{
    width:100%;
	height: 250px;
	border-bottom: 1px solid #ccc;
	
}
.row-container{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
.testimonial {
	width: 340px;
	float: left;
	font-family: 'Tahoma', 'Geneva', sans-serif;
	line-height: 15px;
	z-index: 3;
}
.p-testimonial{
	margin: 20px;
	font-family: 'Tahoma', 'Geneva', sans-serif;
}
.p-testimonial1{
	margin: 19px;
	font-family: 'arial', "regular";
	font-size: 15px;
	

}
right{
  
  font-size: 0.8125rem;
  float:left;
  color: #555555;
  font-family: 'Tahoma', 'Geneva', sans-serif;
}
 .large-4 {
    width:1024px;
	margin-left: auto;
	margin-right: auto;
}
.in-press{
	margin: 15px;
	width: 468px;
	height: 100px;
	/*background: #eaf0f3;*/
}

#clients{
	width: 100%;
	height: 200px;
	top: -95px;
	
}
.cl{
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	margin: 0px;
	padding: 0px;
	width: 19.8%;
	height: 100%;
	float:left;
	text-align:left;
	border-bottom: 1px solid #98d435;
}
#foot{
	width: 100%;
	height: 200px;
	background:#98D435;
	text-align:left;
	margin-left: auto;
	margin-right: auto;
}
h2{
font-family: 'salt__foamregular';
font-size:18px;
}
.column{
	float: left;
	font-size: 13px;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}
.terms{
	width: 1024px;
	height:15px;
	margin-left: auto;
	margin-right: auto;
	
}
/*button*/
.button {
	border: 0px;
	border-radius: 3px;
	background: #35d471;
	padding: 9px 34px 9px 34px;
	color: black;
	font-family: "arial",regular;
	font-size: 30px;
	text-decoration: none;
	vertical-align: middle;
}
.button:hover {
   background: #006699;
   color: #FFF;
   }
.button:active {
   background: #6d99af;
   }
